.navbar {
    height: 54px;
}
#footer {
    height: 46px;
}

.jumbotron {
    background-image: url("../images/banner.jpg");
    padding-top: 210px;
    height: 400px;
    margin: 0;
    background-size:cover;
    border-radius: 0;
}

div.container {
    margin-bottom: 68px;
}

.logo {
    margin: 8px 0 0 16px;
}

.bg-green {
    background-color: #049301;
}
.text-light-green {
    color: #3ac200;
}